<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 引入Materialize的样式 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <title>排行榜</title>
    <style></style>
</head>

<body>
    <div id="app" class="box">
        <h4 style="color: #2775b6; margin-left: 10px;">对b站上的数据进行搜索</h4>
        <h6 style="color: #2775b6; margin-left: 15px;">使用计算属性实时搜索</h6>
        <input type="text" style="height: 30px; width: 200px; margin-left: 100px;" v-model="keywords1" />
        <hr>
        <!-- 排序 -->
    <button @click="setOrderType(0)" style="margin-left: 550px; height: 50px; width: 200px;">按发布时间升序排序</button>
    <button @click="setOrderType(1)" style=" margin-top: 20px; margin-bottom: 20px; height: 50px; width: 200px;">按发布时间降序排序</button>

        <!-- materialize中的contain样式 -->
        <div class="container">
            <div class="row">
                <!-- s12：一排分成12份 m4：12/4 一排可以放三个 -->
                <div class="col s12 m4" v-for="(rank,index) in ranks">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://i.loli.net/2021/03/12/7RXdxO9CiIWf5My.jpg"
                                style="height: 250px;width: 275px;">
                            <span class="card-title">{{rank.title}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{rank.author}}</p>
                        </div>
                        <div class="card-action">
                            <a :href="rank.url">直播间链接</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 窗体加载就执行
        window.onload = function () {
            //定义json文件目录，本地或者服务器都可以，即下面的请求地址
            let url = '../json/b-site.json'
            //发起一个原生的ajax请求
            let request = new XMLHttpRequest()
            //打开一个get请求，尚未发送
            request.open('get', url)
            //发送请求（不带数据）
            request.send(null)
            //请求成功，执行回调函数
            request.onload = function () {
                //响应正确，处理数据
                if (request.status == 200) {
                    let json = JSON.parse(request.responseText)
                    // console.log(json)

                    const app = new Vue({
                        el: '#app',
                        data: {
                            ranks: [],
                        },
                        methods: {},
                        created() {
                            this.ranks = json
                            console.log(this.ranks)
                        },
                    })
                }
            }
        }
    </script>
</body>

</html>